@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root{
    /*-----Fonts-----*/
    --fontOne: 'Josefin Sans', sans-serif;

    /*-----Primary-Colors-----*/
    --primaryColor1: hsl(220, 98%, 61%); /*Bright Blue*/
    --backgroundColor: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));

    /*----------------Dark-Theme----------------*/
    --colorDark1: hsl(235, 21%, 11%); /* Very Dark Blue */
    --colorDark2: hsl(235, 24%, 19%); /* Very Dark Desaturated Blue */
    --colorDark3: hsl(234, 39%, 85%); /* Light Grayish Blue */
    --colorDark4: hsl(236, 33%, 92%); /* Light Grayish Blue (hover) */
    --colorDark5: hsl(234, 11%, 52%); /* Dark Grayish Blue */
    --colorDark6: hsl(233, 14%, 35%); /* Very Dark Grayish Blue */
    --colorDark7: hsl(237, 14%, 26%); /* Very Dark Grayish Blue */

    /*---------------Light-Theme---------------*/
    --colorLight1: hsl(0, 0%, 98%);    /* Very Light Gray */
    --colorLight2: hsl(236, 33%, 92%); /* Very Light Grayish Blue */
    --colorLight3: hsl(233, 11%, 84%); /* Light Grayish Blue */
    --colorLight4: hsl(236, 9%, 61%);  /* Dark Grayish Blue */
    --colorLight5: hsl(235, 19%, 35%); /* Very Dark Grayish Blue */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontOne);
}
body{
    background-image: url(../images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-color: var(--colorDark1);
    min-height: 100vh;
    font-size: 18px;
}
main{
    margin: 60px auto 0;
    width: 550px;
}
div.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}
img#IconMode{
    cursor: pointer;
}
div.circle{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    border: 2px solid var(--colorDark7);
}
input#newTodo{
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    color: var(--colorDark4);
    width: 85%;
}
input#newTodo::placeholder{
    font-size: 20px;
    color: var(--colorDark5);
    opacity: 0.9;
}
div.createTodo{
    margin-bottom: 22px;
    box-shadow: 0px 20px 35px 10px hsl(0deg 0% 0% / 22%);
}
div.createTodo, div.DivTodoItem{
    padding: 18px 25px 18px;
    display: flex;
    gap: 25px;
}
div.createTodo, div#container{
    background-color: var(--colorDark2);
    border-radius: 7px;
}
div#container{
    box-shadow: 0px 35px 31px 10px hsl(0deg 0% 0% / 33%), 0px 7px 11px 2px rgb(0 0 0 / 18%);
}

div.DivTodoItem{
    display: flex;
    align-items: center;
    gap: 26px;
    color: var(--colorDark3);
    border-bottom: 1px solid var(--colorDark7);
}

div.circle.TodoItem, div.DivTodoItem p.TodoItem{
    cursor: pointer;
}
p.TodoItem{
    overflow: hidden;
    line-height: 1.5em;
}
div.DivTodoItem.active > div.circle.TodoItem:hover{
    opacity: 0.5;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
div.DivTodoItem.completed > div.circle.TodoItem{
    background-image: url(../images/icon-check.svg), linear-gradient(120deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
}
div.DivTodoItem.completed > p.TodoItem{
    color: var(--colorDark6);
    text-decoration: line-through;
}

div.t3fs{
    padding: 18px 0 18px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    color: var(--colorDark5);
    font-weight: 700;
}
div.t3fs p{
    color: var(--colorDark6);
}
div.menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.spanActiveVisible{
    color: var(--primaryColor1) !important;
    font-weight: 400  !important;
}

div.notVisible{
    display: none;
}

div.menu span:hover{
    color: var(--colorDark4);
    cursor: pointer;
}
p#clearComplete:hover{
    color: var(--colorDark3);
    cursor: pointer;
}
p.psoe{
    margin: 50px 0 50px;
    text-align: center;
    color: var(--colorDark6);
}

.attribution { 
    font-size: 16px; text-align: center;
    color: var(--colorDark5);
}
.attribution a { color: var(--primaryColor1); }